.container-footer {
  width: 100%;
  position: relative;
  clear: both;
}

.footer {
  text-align: center;
  background-color: black;
  //.footer__text
  &__text {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 26px;
    min-width: 303px;
    max-width: 680px;
    padding: 0 15px;
    margin:0 auto;
  }

  &__icons {
    padding-bottom: 25px;
  }
}
.social-icons {
  text-align: center;
  //.social-icons__item
  &__item {
    width: 34px;
    height: 34px;
    border: 1px solid red;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    //social-icons__item--orange
    &--orange {
      border-color: #f8902e;
    }
  }
}

.title-white {
  color: #fefefe;
  padding: 38px 0 10px 0px;
}
.access-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & a {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 481px) {
  .access-info {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
