
.section-gallery{
    background-color: #F7F7F7;
}
.title-gallery {
    text-transform: uppercase;
  
  font-size: 16px;
}

.gallery-picture {
  margin-bottom: 42px;
  max-width: 100%;
}
.subtitle-gallery {
  display: none;
}

.gallery-wrapper {
  display: none;
}
.gallery-wrapper:nth-child(1) {
  display: block;
}

@media screen and (min-width: 481px) {
    .gallery-picture {
      
        width: 100%;
      }



    .gallery-wrapper:nth-child(2),
    .gallery-wrapper:nth-child(3)
 {
    display: block;
  }

  .gallery-wrapper{
    flex: 1;
  }


  .gallery-instagramm {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
  }

  .subtitle-gallery {
    display: block;
    flex-direction: row;
    justify-content: right;
    font-size: 13px;
  }
  .title-content {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 35px;
  }
}
@media screen and (min-width: 991px){

    .gallery-wrapper:nth-child(4){
        display:block;
      } 
}
