.header{
    font-family: 'Roboto';

    margin: 23px 0px 28px 0px;
    position: relative;
    justify-content: flex-end;
    display: flex;
    }
    
.burger{
  background-color: #000000;
    width: 44px;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 2px;

    &__item{
    width: 17px;
    
    height: 2px;
    background-color: white;
     
  }
    }
// ЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮюююю


// .burger::after{bottom: 0;}

// .burger.active span {transform: scale (0)}
.burger.active> .burger__item--up{
display: none;
}

.burger.active> .burger__item--midle{

  transform: rotate(47deg) translate(2px,2px);
}

.burger.active>.burger__item--bottom{

  transform: rotate(-48deg) translate(1px,-1px);
}




// ........
.nav{
  position: absolute;
  top: 100px;
  right: 15px;
  z-index: 1;
  display: none;
  min-width: 182px;
 

&.open{display: block;}
  &__list{
  
  background-color:#F5F5F5;
  box-sizing: border-box;
 
} &__item:first-child a{
  color: #57A4A4;
}
&__item:focus{
  background-color:#E5E5E5;
}
&__item:hover{
text-decoration: underline;

text-underline-offset: 5px;

}

  & a{
    color: #4E4E4E;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    padding: 4px 14px 2px;
    letter-spacing: 1.1px;
    border-bottom:2px solid  #F5F5F5;
    display: block;
    position: relative;
    text-transform: uppercase;
  }
 
}
@media screen and (min-width:481px) {
  
.header{
  justify-content: center;
}

  .header-wraper{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding-top: 20px;

  }
  .header-button{
  grid-row: 1;
  grid-column: 2;
  justify-self: flex-end;

  }
  .burger{
    display: none;
  }
  .nav{
    display: flex;
    position: static;
    grid-column: 1/3;
    width: auto;
   
  
    &__list{
  
    width: auto;
    box-sizing: border-box;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    }
    & li{
      margin-right: 47px;
    }
    & li:last-child{
      margin-right: 0;
    }
    & a{
      
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      padding: 10px 0;
      border-bottom:none;
    
    }
    & a:focus:after{
      content:"";
 display: none;
      } 
  }
}


@media screen and (min-width:993px){
  .header-wraper{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr ;
    padding-top: 20px;
    column-gap: 47px;
    
      }
      .header-button{
       
        grid-column: 3;
         } 
       .nav{
        grid-column: 2;
        justify-self: end;
       }
       .header{
        margin:  23px auto 28px auto;
       }
       
}