.section-post{
    margin-bottom: 60px;
}


.picture-card {
    &:last-child{
        display: none;
    }
   img {
        display: none;
      }
      img:nth-of-type(1) {
        display: block;
      }
      img:nth-of-type(2) {
        display: block;
      } img:nth-of-type(3) {
        display: block;
      }
       img:nth-of-type(4) {
        display: none;
      }
      
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #4e4e4e;
  }
  &__img {
    margin-bottom: 20px;
  }
  
  &__text {
    display: none;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
    margin-bottom: 28.5px;
  }
}

@media screen and (min-width: 480px) {

    img:nth-of-type(4) {
        display: block;
      }
    

  .section-post {
    display: grid;
    row-gap: 20px;
  }
  .picture-card {
    display: flex;
    gap: 20px;

    &:last-child{
        display:flex;
    }

    &__img {
      margin-bottom: 0px;
    }
    &__text {
      display: block;
      
      max-width: 404px;
      color: #5c5c5c;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
    }

    &__subtitle {
      margin-bottom: 13px;
    }
  }
}
@media screen and (min-width: 993px) {
  .section-post {
    grid-template-columns: 1fr 1fr;
  }
}
